<app-loading *ngIf="isLoading"></app-loading>


<app-dashboard *ngIf="!isLoading" [title]="'Agencias'">
  <div class="list-header">
    <h5>Listado de Agencias</h5>
  </div>
  <div class="container">
    <div class="list-group" *ngFor="let agency of agencies">
      <div class="row">
        <div class="col-md-6">
          <div class="list-group-item list-row" (click)="goDetails(agency)">
            <div class="border rounded-circle item-icon">
              <svg class="bi" width="32" height="32" fill="currentColor">
                <use [attr.xlink:href]=agency.img />
              </svg>
            </div>
            <div class="item-text">
              <b>
                {{agency.agencia}}
              </b>
              <p>
                {{agency.distrito}}<br>
                {{agency.direccion}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-dashboard>