<app-loading *ngIf="isLoading"></app-loading>


<app-dashboard *ngIf="!isLoading" [title]="'Agencias'">
  <div class="list-header">
    <h5>Listado de Agencias</h5>
  </div>
  <div class="container">
    <div class="list-group" *ngFor="let agency of agencies">
      <div class="row">
        <div class="col-1 border rounded-circle item-icon">
          <svg class="bi" width="32" height="32" fill="currentColor">
            <use xlink:href="bootstrap-icons.svg#shop"/>
          </svg>
        </div>
        <div class="col-11">
          <a href="javascript:void(0)" class="list-group-item list-group-item-action" (click)="goDetails(agency)">
            <b>
              {{agency.agencia}}
            </b>
            <div>
              {{agency.distrito}}
            </div>
            <div>
              {{agency.direccion}}
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</app-dashboard>